In [25]:
import pandas as pd
import numpy as np

In [21]:
options = {'encoding':'UTF-8','sep':';', 'header':0, 'index_col':False, 'engine': 'python'}
df = pd.read_csv('../backend/data/data.csv',**options)

In [27]:
df.head()

,id,title,type,genres,averageRating,numVotes,releaseYear
0,tt0000009,Miss Jerry,movie,Romance,54.0,215.0,1894.0
1,tt0000147,The Corbett-Fitzsimmons Fight,movie,"Documentary, News, Sport",52.0,539.0,1897.0
2,tt0000502,Bohemios,movie,,44.0,18.0,1905.0
3,tt0000574,The Story of the Kelly Gang,movie,"Action, Adventure, Biography",6.0,940.0,1906.0
4,tt0000591,The Prodigal Son,movie,Drama,57.0,28.0,1907.0

In [26]:
for key in df.keys() :
    df[key] = np.where(pd.isna(df[key]),'',df[key])